body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#file-form {
    margin-top: 20px;
}

#file-input {
    margin-bottom: 10px;
}

#subject-name {
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}